/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-angle-left {
  background-image: url(../assets/sprite.png);
  background-position: 0px 0px;
  width: 512px;
  height: 512px;
}
.icon-angle-right {
  background-image: url(../assets/sprite.png);
  background-position: -512px 0px;
  width: 512px;
  height: 512px;
}
.icon-arrow-small-left {
  background-image: url(../assets/sprite.png);
  background-position: 0px -512px;
  width: 512px;
  height: 512px;
}
.icon-checkbox-ok {
  background-image: url(../assets/sprite.png);
  background-position: -512px -512px;
  width: 512px;
  height: 512px;
}
.icon-envelope {
  background-image: url(../assets/sprite.png);
  background-position: -1024px 0px;
  width: 512px;
  height: 512px;
}
.icon-home {
  background-image: url(../assets/sprite.png);
  background-position: -1024px -512px;
  width: 512px;
  height: 512px;
}
.icon-menu-burger {
  background-image: url(../assets/sprite.png);
  background-position: 0px -1024px;
  width: 512px;
  height: 512px;
}
.icon-settings {
  background-image: url(../assets/sprite.png);
  background-position: -512px -1024px;
  width: 512px;
  height: 512px;
}
.icon-trash {
  background-image: url(../assets/sprite.png);
  background-position: -1024px -1024px;
  width: 512px;
  height: 512px;
}
.icon-user {
  background-image: url(../assets/sprite.png);
  background-position: -1536px 0px;
  width: 512px;
  height: 512px;
}
