.app{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    color: white;
    .app-bar{
        background-color: rgb(27, 27, 27);
        width: 50px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        a{
            text-align: center;
            vertical-align: center;
            text-decoration: none;
            color: white;
            padding: 10px;
            &:hover{
                background-color: rgb(49, 49, 49);
            }
        }
    }
    .app-main{
        background-color: rgb(36, 36, 36);
        flex: 1;
    }
}